body, html {
    background-color: #f6f6f6;
}

#painting {
    background-color: #fff4db;
    width: 400px;
    height: 400px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 0px #8d8d8d;
}

#toprow {
    height: 290px;
}

#bigbox {
    width: 290px;
    height: 290px;
}

.maroon {
    background-color: maroon;   
}

.blue {
    background-color: darkblue; 
}
.yellow {
    background-color: yellow;   
}
.black {
    background-color: black;   
}
.purple {
    background-color: purple;   
}
.goldenrod {
    background-color: goldenrod;   
}
.gray {
    background-color: gray;   
}

.right {
    float: right;
}

#divider1 {
    height: 290px;
    width: 10px;
}

#bottomleftcolumn {
    height: 100px;
    width: 10px;
}

.mediumbox {
    width: 100px;
    height: 140px;
}

#divider2 {
    height: 10px;
    width: 100px;
}

#middlerow {
    width: 400px;
    height: 10px;
    background-color: black;
}

#bottomrightcolumn {
    height: 100px;
    width: 40px;
  }
  .smallbox {
    width: 50px;
    height: 45px;
    
  }
 

  #bottommiddlebox {
    height: 100px;
    width: 240px;
    background-color: darkslategrey;
  }

 
  #bottomleftbox {
    width: 100px;
    height: 100px;
    background-color: green;
  }

  #divider4 {
    height: 100px;
    width: 10px;
  }
  
  #divider5 {
    height: 10px;
    width: 50px;
  }
  
  #divider6 {
    height: 100px;
    width: 10px;
  }